<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    
<body>
    <div class="container">
        <div class="card">
            <h2>Student Form</h2>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark" >Submit</button>
            </form>
            <a href="{% url 'student_list' %}">Back</a>
            <a href="{% url 'home' %}">Home</a>
        </div>
    </div>
</body>
</html>




